<footer>
    <article>
        <i class="fas fa-credit-card"><h6 class="textos-footer">Medios de pago</h6></i>
        <p class="textos-footer">
            Contamos con diferentes métodos de pago para que tu único problema sea elegir entre nuestra gran variada oferta literaria!  
        </p>
    </article>
    <article>
        <i class="fas fa-gift"><h6 class="textos-footer">Elegí regalar lectura!</h6></i>
        <p class="textos-footer">
            Regala distinto! Busca entre nuestras múltiples categorias ese libro ideal para la persona a la que quieras sorprender!
        </p>
    </article>
    <article>
        <i class="fas fa-user-shield"><h6 class="textos-footer">Seguridad, de principio a fin</h6></i>
        <p class="textos-footer">¿No te gusta? ¡Devolvelo! En la libreria El sombrero Loco, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p>
    </article>
    <article class="copyright">
        <p class="textos">Copyright © 2021 "El sombrero loco" / Grupo 7</P>
    </article>
</footer>