<header>      
    <div class="contenedor-header">
        <div class="contenedor-logo">
            <a href= "/"><img src="/images/sombrero-loco-con-nombre.png" alt="Logo" class="logotipo"></a>
            <a href= "/"><img src="/images/sombrero-loco.png" alt="Logo" class="logotipo-solo"></a>
        </div>
        <form action="/buscar" method="get" class="contenedor-buscador">
            <label for="search-bar">
                <input class=cen type="text" id="search-bar" placeholder="Buscar libro, editorial, autor...">
                <button><i class="fas fa-search"></i></button>
            </label>
        </form>
<!-- BURGERMENU CHECKBOX-->
<ul id="menu">
    <li>
        <input type="checkbox" name="list" id="btn-menu">
        <label class="burger-button" for="btn-menu">
            <i class="fas fa-bars"></i>
        </label> 
        <nav class="navbar">
            <ul class="botones">
                <li>
                    <input type="checkbox" name="list">
                    <label for="nivel2-1">
                        <a href="/register"><i class="fas fa-user-plus"></i>Registrarse</a>
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="list">
                    <label for="nivel2-1">
                        <a href="/login"><i class="fas fa-user"></i>Iniciar sesión</a>
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="list">
                    <label for="nivel2-1">
                        <a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="list" id="nivel2-1">
                    <label for="nivel2-1" class="btn-categoria">
                       <p><i class="fas fa-book-reader"></i>Categorias</p>
                    </label>
                    <ul class="interior">
                        <li>
                            <a href="/products/categoria/juveniles">Juveniles</a>
                        </li>
                        <li>
                            <a href="/products/categoria/novelas">Novelas</a>
                        </li>
                        <li>
                            <a href="/products/categoria/policiales">Policiales</a>
                        </li>
                        <li>
                            <a href="/products/categoria/cienciaficcion">Ciencia Ficción</a>
                        </li>
                        <li>
                            <a href="/products/categoria/romance">Romance</a>
                        </li>
                        <li>
                            <a href="/products/categoria/teatro">Teatro</a>
                        </li>
                    </ul>
                </li>
                
    </li>
    <li><input type="checkbox" name="list"><label for="nivel2-1"><a href=""><i class="fas fa-users"></i>Sobre nosotros</a></li></label>
    <li><input type="checkbox" name="list"><label for="nivel2-1"><a href=""><i class="fas fa-question-circle"></i>Preguntas frecuentes</a></li></label>
       </ul>
    </li>
    
    
 </ul>
 </nav>
        
        <div class="botones-barra-superior">
            <li><a href="/register"><i class="fas fa-user-plus"></i>Registrarse</a></li>
            <li><a href="/login"><i class="fas fa-user"></i>Iniciar sesión</a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
        </div>
        <div>
        <nav class="navbar-desktop">
            <ul class="navh">
                <li><a href="/products"><i class="fas fa-book-reader"></i>Categorias</a>
                    <ul>
                        <li>
                            <a href="/products/categoria/juveniles">Juveniles</a>
                        </li>
                        <li>
                            <a href="/products/categoria/novelas">Novelas</a>
                        </li>
                        <li>
                            <a href="/products/categoria/policiales">Policiales</a>
                        </li>
                        <li>
                            <a href="/products/categoria/ciencia ficción">Ciencia Ficción</a>
                        </li>
                        <li>
                            <a href="/products/categoria/romance">Romance</a>
                        </li>
                        <li>
                            <a href="/products/categoria/teatro">Teatro</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fas fa-users"></i>Sobre nosotros</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-question-circle"></i>Preguntas frecuentes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>