<header>      
    <div class="contenedor-header">
        <div class="contenedor-logo">
            <a href= "/"><img src="/images/sombrero-loco-con-nombre.png" alt="Logo" class="logotipo"></a>
            <a href= "/"><img src="/images/sombrero-loco.png" alt="Logo" class="logotipo-solo"></a>
        </div>
        <form action="/buscar" method="get" class="contenedor-buscador">
            <label for="search-bar">
                <input class=cen type="text" id="search-bar" placeholder="Buscar libro, editorial, autor...">
                <button><i class="fas fa-search"></i></button>
            </label>
        </form>
        
        <input type="checkbox" id="btn-menu">
        <label class="burger-button" for="btn-menu"><i class="fas fa-bars"></i> </label>       
        <nav class="navbar">
            <ul class="botones">
                <li><a href="/register"><i class="fas fa-user-plus"></i>Registrarse</a></li>
                <li><a href="/login"><i class="fas fa-user"></i>Iniciar sesión</a></li>
                <li><a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/products"><i class="fas fa-book-reader"></i>Todos los Libros</a></li>
                <li><a href="/products"><i class="fas fa-users"></i>Sobre nosotros</a></li>
                <li><a href="/products"><i class="fas fa-question-circle"></i>Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
</header>