<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">   
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script> 
   <title>El sombrerero Loco</title>
</head>

<body>
  <%- include('./partials/header') %> 
<main>
  <h1 class="cen"> Quiénes somos.</h1>


<h1 class="frase">Tu túnel de conejo ...</h1>
<h2 class="frase">...hasta los libros que buscas</h2>

<div class="der">
  <div class="about-deco">
    <p class="about">¡Somos "El sombrerero loco"! Un lugar en el que no sólo vas a encontrar el libro que buscás, tu túnes a nuevos mundos mágicos e inexplorados.</p>
    </div>
  <div class="deco">
      <img  class="deco" src="/images/decoraciones/siluetallave.jpg">
  </div>

</div>
<div class="izq">
  <div class= "deco-dos">
     <img class="deco-dos" src="/images/decoraciones/wemad.jpg">
  </div>
  <div class="about-decoizq">
    <p class="about"> Vas a encontrar las últimas novedades y los clásicos de siempre...para todas las edades. Además vas a poder recomendar títulos para que traigamos, porque somos apasionados por la lectura… ¡como vos!</p>
  </div>

</div>
</div>

<%- include('./partials/footer')  %> 

</body>
</html>