<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="/css/aboutUs.css">
>      
    <link rel="icon" href="/images/sombrero-loco.100px.ico">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <title>        El sombrero Loco     </title>

</head>

<body>
    <%- include('./partials/header') %> 
<main>
    <h1 class="cen"> Quiénes somos.</h1>
<div>

  <h1 class="frase">Tu túnel de conejo ...</h1>
  <h2 class="frase">...hasta los libros que buscas</h2>

  <div class="der">
    <div class="img-deco">
        <img src="/images/decoraciones/siluetallave">
    </div>

  <p>¡Somos "El sombrerero loco"! Un lugar en el que no sólo vas a encontrar el libro que buscás, tu túnes a nuevos mundos mágicos e inexplorados.</p>
  </div>
  
  <div class="izq">
    <div class="img-deco">
       <img src="/images/decoraciones/wemad">
    </div>
<p> Vas a encontrar las últimas novedades y los clásicos de siempre...para todas las edades. Además vas a poder recomendar títulos para que traigamos, porque somos apasionados por la lectura… ¡como vos!</p>
  </div>
</div>


<%- include('./partials/footer')  %> 

</body>
</html>