<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="../css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="../css/header-footer.css">   
    <title>El sombrerero Loco</title>
</head>
<body>
    <%- include('./partials/header')  %>

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="<%= ruta %>" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="titulo" class="form-label">Título:</label>
						<input type="text" id="titulo" name="titulo" class="form-input" placeholder="Escribir en mayúsculas" required>
					</div>
					<br>
					<div class="col-12 col-md-6">
						<label for="autor" class="form-label">Autor:</label>
						<input type="text" id="autor" name="autor" placeholder="Apellido, Nombre" class="form-input" required>
					</div>
					<br>
                    <div class="col-12 col-md-6">
						<label for="precio" class="form-label">Precio:</label>
						<input type="number" id="precio" name="precio" placeholder="000" class="form-input" required>
					</div>
					<br>
					<div class="col-12 col-md-6">
						<label for="paginas" class="form-label">Cantidad de páginas:</label>
						<input type="number" id="paginas" name="paginas" placeholder="000" class="form-input" required>
					</div>
					<br>
					<div class="col-12">
						<label for="editorial" class="form-label">Editorial:</label>
						<input type="text" id="editorial" name="editorial" placeholder="Escribir en mayúsculas" class="form-input" required>
                    </div>
					<br>
                    <div class="col-12">
						<label for="categorias" class="form-label">Categorías:</label>
						 <% /* %> <input type="text" id="categorias" name="categorias" class="form-input">  <% */ %>
						<select class="form-control" id="categorias" name="categorias" class="form-input" required>
							<option disabled selected value="juveniles"> Juveniles </option>
							<option value="policiales" >Policiales</option>
							<option value="novela">Novelas</option>
							<option value="Infantiles">Infantil</option></select>
                    </div>
                    <div class="col-12">
						<label for="sinopsis" class="form-label">Sinopsis:</label>
						<textarea name="sinopsis" id="sinopsis" placeholder="Sinopsis" class="form-input" required></textarea>
					</div>
					<br>
					<div class="col-12">
						<label for="img" class="form-label">Imagen de portada:</label>
						<input type="file" name="img" id="img" class="form-input" required>
					</div>
					<br>
                    <div class="col-12">
						<label for="seccion" class="form-label">Sección:</label>
						<% /* %><input type="text" id="seccion" name="seccion" placeholder="SECCIÓN" class="form-input"><% */ %>
						<select class="form-control" id="seccion" name="seccion" class="form-input" required>
							<option value="novedades" disabled selected >Novedades</option>
							<option value="loMasVendido">Lo mas vendido</option>
                    </div>
					<div class="col-12">
						<label>Guardar producto</label>
						<input type="submit" class="buy-now-button"></button>
					</div>

				</div>
			</form>
		</div>
	</div>

    <%- include('./partials/footer')  %> 

</body>
</html>