<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="../css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="../css/header-footer.css">   
    <title>El sombrerero Loco</title>
</head>
<body>
    <%- include('./partials/header')  %>

    <div class="container products-wrapper">

		
				<h2 class="cen">Formulario de creación de productos</h2>
			
	
			<form class="form" action="<%= ruta %>" method="POST" enctype="multipart/form-data">
				
					
						<label for="titulo" class="form-label">Título:</label>
						<input type="text" id="titulo" name="titulo" placeholder="TÍTULO" class="form-input">
					
					
						<label for="autor" class="form-label">Autor:</label>
						<input type="text" id="autor" name="autor" placeholder="AUTOR" class="form-input">
					
                  
						<label for="precio" class="form-label">Precio:</label>
						<input type="number" id="precio" name="precio" placeholder="000" class="form-control">
					
						<label for="paginas" class="form-label">Páginas:</label>
						<input type="number" id="paginas" name="paginas" placeholder="000" class="form-control">
					
						<label for="editorial" class="form-label">Editorial:</label>
						<input type="text" id="editorial" name="editorial" placeholder="EDITORIAL" class="form-control">
                   
						<label for="categorias" class="form-label">Categorías:</label>
						<% /* %> <input type="text" id="categorias" name="categorias" class="form-input">  <% */ %>
						<select class="form-control" id="categorias" name="categorias">
							<option disabled selected > Seleccione categoría</option>
							<option value="juveniles">Juveníl</option>
							<option value="infantil">Infantil</option>
							<option value="novelas">Novela</option>
							<option value="ensayos">Ensayo</option>
							<option value="policiales">Policiales</option>
							<option value="teatro">Teatro</option>
                    
						<label for="sinopsis" class="form-label">Sinópsis:</label>
						<textarea name="sinopsis" id="sinopsis" placeholder="Sinópsis" class="form-control"></textarea>
				
						<label for="img" class="form-label">Imagen:</label>
						<input type="file" name="img" id="img" class="form-control">
					
						<label for="seccion" class="form-label">Sección:</label>
						<% /* %><input type="text" id="seccion" name="seccion" placeholder="SECCIÓN" class="form-input"><% */ %>
						<select class="form-control" id="seccion" name="seccion" class="form-input" required>
							<option disabled selected > Seleccione sección</option>
							<option value="novedades" >Novedades</option>
							<option value="loMasVendido">Lo mas vendido</option>
                   
						<button type="submit" class="buy-now-button">Guardar producto</button>

					

				
			</form>
		</div>
	

    <%- include('./partials/footer')  %> 

</body>
</html>