<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">   
    <title>El sombrerero Loco</title>
</head>
<body>
    <%- include('./partials/header')  %> 
<div class="Pedido">
    <h1 class=cen >1-Pedido</h1>
    <form action="/login" method="POST">
<table>
    <tr>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
    </tr>
    <tr>
        <td>Titulo</td>
        <td>$$$</td>
        <td><input class="texto" type="text"></td>
        <td>$$$</td>
    </tr>
    <tr>
        <td>Titulo</td>
        <td>$$$</td>
        <td>Cantidad</td>
        <td>$$$</td>
    </tr>
</table>
    </form>
    <h1 class="cen">2-Datos personales</h1>
    <div class="Envio" role="form">
        <div class="datos-automaticos">
            <label for="name" class="nombre">Nombre :</label>
            <div>
                <label class="control-label"></label>
            </div>
        </div>
        <div class="datos-automaticos">
            <label for="name" class="Apellido">Apellido :</label>
            <div>
                <label class="control-label"></label>
            </div>
        </div>
        <div class="datos-automaticos">
            <label for="name" class="email">Email :</label>
            <div>
                <label class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="paisesCombo">País:</label>
                <div>
<select class="barraPaises" id="paisesCombo" name="countryId">
        <option value="AL">Alemania</option>
        <option value="AR" selected="">Argentina</option>
        <option value="BR">Brasil</option>
        <option value="CH">Chile</option>
</select>
                </div>
        </div>
        <div class="form-group">
            <label for="provinciasCombo" class="Espacio-a-completar">Provincia:</label>
            <div>
<select id="provinciasCombo" name="provinceId" data-default="BA" class="form-control required"><option value="">Seleccione una provincia</option><option value="BA">Buenos Aires</option><option value="CF">Capital Federal</option><option value="CA">Catamarca</option><option value="otra">Otra...</option></select>
            </div>
        </div>
        
        <div class="form-group">
                <label for="localidadName" class="Espacio-a-completar">Otra localidad:</label>
                <div>
                    <input type="text" class="form-control choice " name="localidadName" placeholder="Si su ciudad no figura arriba, escríbala aquí">
                </div>
        </div>
        <div class="form-group">
            <label for="address" class="Espacio-a-completar">Dirección:</label>
            <div>
                    <input type="text" class="form-control required" name="address" placeholder="Calle, número, apartamento u oficina">
            </div>
        </div>
       <div class="form-group">
            <label for="zipCode" class="Espacio-a-completar">Código postal:</label>
            <div>
                        <input type="text" class="form-control" name="zipCode" placeholder="Código postal" >
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="Espacio-a-completar">Teléfono:</label>
            <div>
                    <input type="text" class="form-control required" name="phone" placeholder="Número de teléfono">
            </div>
        </div>
</div>
</div>
<div class="Main">
    <h1 class="cen">3-Opciones de envio</h1>
    <div>
        <label for="opcionesEnvio"></label>
            <div class="envio-form">
<select class="envio" id="formaEnvio" name="envioId">
    <option value="Retiro" selected="">Retiro por sucursal</option>
    <option value="Envio">Envio a domicilio</option>
    <option value="Correo">Retiro por correo</option>
</select>
            </div>
    </div>
</div>

<%- include('./partials/footer')  %> 

</body>
</html>



