<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">   
    <title>El sombrerero Loco</title>
</head>
<body>
    <%- include('./partials/header')  %> 
<div class="Pedido">
    <h1 class=cen >1-Pedido</h1> 
     <h3 class=frase> "Si la locura es felicidad, me declaro loco."- El Sombrerero -
                      </h3>
    
        <div> 
            <div id="content" class="columnas">
                
                  <div class="table-responsive">
                    <table class="tabla-carrito">
                      <thead>
                        <tr>
                          <td class="imagen">Portada</td>
                          <td class="titulo">Título</td>
                          <td class="cantidad">Cantidad</td>
                          <td class="precio">Precio unitario</td>
                          <td class="total">Total</td>
                        </tr>
                      </thead>
                      <tbody>
                                       <tr>
                        <td class="compras">
                            <img class= portada src="/images/portadas/armame.jpg" alt="portadas">
                        </td>
                        <td class="titulo">
                            </td>
                       
                        <td class="precio"></td>
                   
                        <td class="total"> </td>
                      </tr>
                                             
                    </tbody>
                      
                    </table>
                  </div>
                </div>
            </div>   

    <h1 class="cen">2-Datos personales</h1>

    <form class="form" method="post" action="/login">
        <input type="text" class="form-control" placeholder="Nombre completo" name="nombre" required/>
        <input type="text" class="form-control" placeholder="Apellido" name="apellido" required/>
        <select class="form-control" id="paisesCombo" name="countryId">
            <option disabled selected > Seleccione un país</option>
            <option value="AL">Alemania</option>
            <option value="AR" >Argentina</option>
            <option value="BR">Brasil</option>
            <option value="CH">Chile</option></select>
        <select class="form-control" id="pciasCombo" name="pciaId">
            <option disabled selected > Seleccione una provincia</option>
            <option value="BA">Buenos Aires</option>
            <option value="CF">Capital Federal</option>
            <option value="CA">Catamarca</option>
            <option value="otra">Otra...</option></select>
        <input type="text" class="form-control" placeholder="Localidad" name="localidad" required/>
        <input type="text" class="form-control" placeholder="Código Postal" name="CP" required/>
        <input type="text" class="form-control" placeholder="Teléfono" name="Télefono" required/>
        <input type="text" class="form-control" placeholder="Calle" name="calleYNumero" required/>
        <input type="text" class="form-control" placeholder="Piso - Departamento" name="piso" opcional/>
 
            <button>Comprar</button>
      
      </form>
      <h1 class="cen">3-Opciones de envio</h1>
      <div>
   <form class="form" method="post" action="/login">
    <select class="form-control" id="formaEnvio" name="envioId">
      <option disabled selected > Elija método de pago</option>
      <option value="Retiro">Retiro por sucursal</option>
      <option value="Envio">Envio a domicilio</option>
      <option value="Correo">Retiro por correo</option>
  </select>
</form>
       </div>

     
</div>

   
  


<%- include('./partials/footer')  %> 

</body>
</html>



