<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css"> 
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar-superior">
            <img src=/images/logo-sombrero-200px.png alt="Logo">
            <div class="botones">
            <a href="#"><i class="fas fa-house-user"></i></a>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-bars" id="icon-menu"></i></a>
            </div>
        </div>
        <div class="navbar-inferior">
            <input class="barra-buscador" placeholder="Nombre del libro o autor">
            <button><i class="fas fa-search"></i></button>
        </div>
    </header>
    <main>
        <section class="carrusel"></section>
        <section class="productos"></section>
        <section class="novedades"></section>
    </main>
    <footer>
        <section></section>
    </footer>
</body>
</html>