<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css"> 
    <title>Document</title>
</head>
<body>
    <header>

        <div class="header">
            <div class="respheader">
                <div class="logo"> 
                    <a href="./"><img src="images/" alt="Logo Sombrerero" class="lg-img"></a>
                </div>

                <div class="form" action="#" method="GET">
                    <div class="input">
                        <input type="text" name="searchbar" placeholder="Qué deseas leer hoy?">
                        <div class="lupa">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>   
        </header>
</body>
</html>