<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="../css/header-footer.css">
    <link rel="stylesheet" type="text/css" link href="../css/register.css"> 
    <link rel="icon" href="images/sombrero-loco.100px.ico">
    <title>El sombrero Loco</title>
</head>

<body>
    <%- include('./partials/header')  %> 
    <main>
        <h2 class=cen>Bienvenid@</h2>
        <div class="form">
            <form class="login-form" method="post" action="/user/login" >
                <% if (errores){ %>
                    <p class="mensaje-error"> <%= errores%> </p>
                <% } %> 
                
                <% if(infoUsuario == null){ %>
                    <input name="email" type="text" class="form-control" placeholder="Email de usuario" required/>
                <% } if(infoUsuario != undefined){ %>
                    <input name="email" type="text" class="form-control" value="<%=infoUsuario.usuario_email%>" required/>
                <% } %>
                  
                  <div class="form-group">
                        <input name="contraseña" type="password" class="form-control" placeholder="Contraseña"  data-toggle="password" required/>
                  </div>
                
                <label for="acuerdo">Recordarme</label>
                <input type="checkbox" name="recordarme" value="Acepta">
                
                
                  <button >Ingresar</button>
                  <p class="message">No estas registrado? <a href="/user/register">Crear una cuenta</a></p>
                </form>
                </div> 
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>