<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
   
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/login.css"> 
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">
    
    
    <title>El sombrero Loco</title>
</head>

<body>
    <header>

        <div class="navbar-superior">
            <a href= "./"><img src="./images/sombrero-loco-200px.png" alt="Logo" class="logotipo"></a>
            <form action="/buscar" method="get" class="contenedor-buscador">
                <label for="search-bar">
                    <input class=cen type="text" id="search-bar" placeholder="Qué vas a leer hoy?">
                    <button><i class="fas fa-search"></i></button>
                </label>
            </form>
            <div class="botones">
                <a href="/register"><i class="fas fa-user-plus"></i><p>Registrarse</p></a>
                <a href="/login"><i class="fas fa-house-user"></i><p>Iniciar sesión</p></a>
                <a href="/carrito"><i class="fas fa-shopping-cart"></i><p class="texto-carrito">Carrito</p></a>
                <a href="#" id="burger-menu"><i class="fas fa-bars" id="icon-menu"></i></a>
            </div>
        </div>
        <div class="navbar-inferior">
            <h1 class="titulo-logo"></i>El sombrero Loco</h1>
        </div>
    </header>

    <main>
        <h2 class=cen >Bienvenid@</h2>
        <div class="form">
            <form class="login-form" method="post" action="" >
                  <input type="text" class="form-control" placeholder="Nombre de usuario" required/>
                  <div class="form-group">
                   <div class="" >
                  <input type="password" class="form-control" placeholder="password"  data-toggle="password" required/>
                  
                  </div>
                  </div>
                
                  <button >Ingresar</button>
                  <p class="message">No estas registrado? <a href="/register">Crear una cuenta</a></p>
                </form>
                </div> 
                
                <div class="decoracion">
                    <a href="./"><img src="/images/decoraciones/conejoblanco.gif" alt="conejo" class="decoracion"></a>
        
    </main>

    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h6 class="textos-footer">Medios de pago</h6>
            <p class="textos-footer">
                Contamos con diferentes métodos de pago para que tu único problema sea elegir entre nuestra gran variada oferta literaria!  
            </p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h6 class="textos-footer">Elegí regalar lectura!</h6>
            <p class="textos-footer">
                Regala distinto! Busca entre nuestras múltiples categorias ese libro ideal para la persona a la que quieras sorprender!
            </p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h6 class="textos-footer">Seguridad, de principio a fin</h6>
            <p class="textos-footer">¿No te gusta? ¡Devolvelo! En la libreria El sombrero Loco, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p>
        </article>
        <article class="copyright">
            <p class="textos">Copyright © 2021 "El sombrero loco" / Grupo 7</P>
        </article>
    </footer>
</body>
</html>