<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
   
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">
    <link rel="stylesheet" type="text/css" link href="./css/register.css"> 
    <link rel="stylesheet" type="text/css" link href="./css/login.css">
    <title>El sombrero Loco</title>
</head>

<body>
    <%- include('./partials/header')  %> 
    <main>
        <h2 class=cen>Bienvenid@</h2>
        <div class="form">
            <form class="login-form" method="post" action="" >
                  <input type="text" class="form-control" placeholder="Nombre de usuario" required/>
                  <div class="form-group">
                   <div class="" >
                  <input type="password" class="form-control" placeholder="password"  data-toggle="password" required/>
                  
                  </div>
                  </div>
                
                  <button >Ingresar</button>
                  <p class="message">No estas registrado? <a href="/register">Crear una cuenta</a></p>
                </form>
                </div> 
                
                <div class="decoracion">
                    <a href="./"><img src="/images/decoraciones/conejoblanco.gif" alt="conejo" class="decoracion"></a>
        
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>