<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/login.css">
    <link rel="stylesheet" type="text/css" link href="./css/header.css">      
    <link rel="stylesheet" type="text/css" link href="./css/footer.css"> 
    <title>Document</title>
</head>
<body>
<header>

    <div class="navbar-superior">
        <a href="./"><img src="/images/sombrero-loco-200px.png" alt="Logo" class="logotipo"></a>
        <form action="/buscar" method="get" class="contenedor-buscador">
            <label for="search-bar">
                <input class=cen type="text" id="search-bar" placeholder="Qué vas a leer hoy?">
                <button><i class="fas fa-search"></i></button>
            </label>
        </form>
        <div class="botones">
            
                <a href="/register"><i class="far fa-id-card"><p class="tenlace" >Creá tu cuenta</p></i></a>
                <a href="/login"><i class="fas fa-house-user"><p class="tenlace">Ingresá</p></i></a>
                <a href="/carrito"><i class="fas fa-shopping-cart"><p class="tenlace">Mis compras</p></i></a>
            
            
            <!--<a href="#"><i class="fas fa-bars" id="icon-menu"></i></a>-->
        </div>
    </div>
    <div class="navbar-inferior">
        <h1 class="titulo-logo"></i>El sombrero Loco</h1>
    </div>
</header>

<footer>
    <div class="contenedorfooter">
        <article>
            <div>
                <i class="far fa-credit-card"></i>
            </div>
            <h4>Formas de pago</h4>
            <p>
                Contamos con diferentes métodos de pago para que tu único problema sea elegir entre nuestra gran variada oferta literaria!  
            </p>
        </article>

        
        <article>
            <div>
                <i class="fas fa-gift"></i>
            </div>
            <h4>Elegí regalar lectura!</h4>
            <p>
                Regala distinto! Busca entre nuestras múltiples categorias ese libro ideal para la persona a la que quieras sorprender!
            </p>
        </article>
        
        
        
        <article>
            <div>
                <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </article>
    </div>
    <article class="copyright">
        <p class="textos">Copyright © 2021 "El sombrero loco" / Grupo 7</P>
    </article>
</footer>

    
</body>
</html>