*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #7d11ca;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar-superior{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-superior a{
    width: 100%;
    height: 80px;
    margin: 10px;
    text-align: center;
}

.navbar-superior a img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.contenedor-buscador{
    width: 100%;
    display: flex;
}

.contenedor-buscador label{
    display: flex;
    width: 80%;
    height: 20px;
    margin: auto;
}

.contenedor-buscador label input{
    width: 90%;
    align-self: center;
    height: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.contenedor-buscador label button{
    border: none;
    height: 100%;
    position: relative;
    border-radius: 5px;
    right: 25px;
}

.botones{
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin: 5px;
    height: 40px;
}

.botones a{
    color: #fff;
    font-size: 20px;
}

.navbar-inferior{
    width: 100%;
    box-shadow: 0px 0px 10px;
    height: 40px;
}

.titulo-logo{
    text-align: center;
    height: 100%;
    margin: 0px;
    font-family: 'festive';
    position: relative;
    bottom: 5px;
}
/*------------header------------*/
/*------------main------------*/

input.texto{
    position: relative;
    
}
div.Envio{
text-align: center;
font-size: 20px;
}
.form-group{
    padding: 10px;
    text-align: center;
}
.form-control{
    font-size: 20px;
}
.envio-form{
    text-align: center;
}
div.datos-automaticos{
    font-size: 25px;
}
select.barraPaises{
    font-size: 20px;
}
select.envio{
    font-size: 30px;
}
table{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 12px;
}

th,td{
    border: 2px solid black;
}


/*------------main------------*/
/*--------------------footer-------------*/

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #7d11ca;
    position: relative;
    bottom: -540px;
    justify-content: space-around;
    text-align: center;
}

footer article{
    display: none;
}

.copyright{
    display: flex;
}
h1.cen {
    text-align: center;
    margin-bottom: 15px;
    color: black;
}








@media screen and (min-width:425px){


}





@media screen and (min-width:768){ 
    #burger-menu{
        display: none;
    }

    #icon-menu{
        display: none;
    }

header{
    display: flex;
    height: 250px;
    width: 100%;
    flex-direction: column;
    background: #7d11ca;
}

.navbar-superior{
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    opacity: 0.85;
}

.navbar-superior a{
    width: 30%;
    height: 100%;
}

.cen{
    text-align: center;
    outline:none;
}

.logotipo {
    width: 160px;
    height: 105px;
    margin-left: 25px,25px,35px,35px;
}


.logotipo:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}

.navbar-superior form{
    width: 30%;
}

form label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

label input{
    width: 90%;
    height: 40px;
    align-self: center;
}

label button{
    height: 47px;
    width: 41px;
    align-self: center;
    position: relative
}

.botones{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.botones a{
    width: 20%;
    align-self: center;
    display: flex;
}

.botones a i{
    color: #ffff;
    align-self: center;
    font-size: 45px;
    margin: 0 auto;
}

.navbar-inferior{
    height: 100px;
    box-shadow: 0px 0px 10px;
    display: flex;
}

.titulo-logo{
    width: 100%;
    text-align: center;
    font-size: 80px;
    align-self: center;
    font-family: 'festive';
}

.logotipo:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
    
.botones a i tenlace{
  font-size: 5px;;  
}
h1 {
    text-align: center;
    margin-bottom: 15px;
    color:#41065c;
}
h1.cen {
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


/*------footer------*/
footer {
    background-color: #ffffffc0;
    text-align: center;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #68417a;;
    font-size: 2em;
}

footer article {
    margin: 40px 0;
    color: rgba(133, 127, 127, 0.918);
}

footer article div {
    margin-bottom: 9px;
}}


 /* --- Nueva fuente especial --- */
 @font-face {
    font-family:'mifuente';
    src:url(../fairytale.ttf)}
    