*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-width: 320px;
}
header{
    width: 100%;
    background-color: #7d11ca;
    padding: 8px 16px 8px 16px;
}

header .navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 80%;
    height: fit-content;
    background-color: #59158a;
    left: 0px;
    z-index: 1000;
    min-width: 256px;
    max-width: 360px;

}



header .contenedor-logo{
    position: absolute;
}
header .contenedor-logo .logotipo {
    position: relative;
    width: 45px;
}

header .cen{
    text-align: center;
}

header  .titulo-logo{
    font-family: 'festive';
    text-align: center;
    line-height: 45px;
    width: 100%;
    
}

header .burger-menu{
    position: absolute;
    right: 16px;
    top: 13.5px;
}

header .burger-menu i{
    position: relative;
    margin: 0px auto 0px auto;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    padding: 8px;

    z-index: 2000;
}

header .navbar ul.botones{
    list-style: none;
    padding-inline-start: 0px;
}

header .navbar ul.botones a{
    color: white;
    text-decoration: none;
    font-family: 'roboto';
    font-weight: 600;
    font-size: 20px;
}

header .navbar ul.botones a li{
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-top: 3px;
}

header .navbar ul.botones a li i{
    margin-right: 16px;
}

.contenedor-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

}

.contenedor-buscador input{
    margin-top: 16px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.contenedor-buscador label button{
    border: none;
    color: rgb(29, 29, 29);
    background: none;
    position: absolute;
    font-size: 18px;
    top: 17px;
    left: calc(80%);
}



/*FOOTER*/
footer{
    background-color: #7d11ca;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 5px 0;
    box-shadow: 0px 0px 10px;
    margin: 0 auto;
    color: blanchedalmond;
}

footer article{
    height: 75%;
    width: 30%;
    text-align: center;
    color: rgb(187, 147, 182);
    font-size: 10px;
}

article i{
    font-size: 20px;
    color: #bf68da;
}

.textos-footer{
    font-size: 20 px;
    margin: 15px;
}




.copyright{
    height: 25%;
    width: 100%;
    border-top: 1px solid black;
    margin: 2px;
    text-align: center;
}

.textos{
    font-size: 15px;
    text-align: center;
}
/*
footer {
    background-color: #7d11ca;
    text-align: center;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    color: blanchedalmond;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #bf68da;
    font-size: 2em;
}

footer article {
    margin: 40px 0;
    color: rgb(187, 147, 182);
}

footer article div {
    margin-bottom: 9px;
}
*/


/*-----------------MEDIA QUERIES: TABLET ------------*/

@media (min-width: 768px){


    header .navbar{
        position: inherit;
        width: 100%;
        background-color: #7d11ca;
        min-width: none;
        max-width: none;
        flex-direction: row;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    header .burger-menu{
        display: none;
    }

    header .navbar .contenedor-buscador{
        width: 40%;
    }

    header .navbar input{
        width: 100%;  
    }

    header .navbar ul{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header .navbar ul.botones a li{
        border-bottom: none;
        font-size: 14px;
        padding-left: 0px;
        margin-left: 16px;
    }

    header .navbar ul.botones a li i{
        margin-right: 5px;
    }

    header .contenedor-buscador{
        display: flex;
        flex-direction: row;
    }


    header .contenedor-buscador label{
        width: 100%;
    }

    header .contenedor-buscador label button{
        position: absolute;
        left: calc(40% - 28px);
        top: 70px
    }
}

/*-----------------MEDIA QUERIES: DESKTOP ------------*/
