*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    font-family: 'roboto';
    min-width: 320px;
}

/**** MOBILE ****/

/*-------main-----*/
main{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner-img{
    width: 90vw;
    min-height: 120px;
    margin-top: 30px;
}

h2{
    font-size: 2em;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 10% 5px 10%;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid gray;
    border-top: 1px solid rgb(182, 180, 180);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

.productos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #FFF;
}

.libro{
    text-decoration: none;
    color: #000;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(182, 180, 180);
    margin: 10px auto;
    padding: 15px 5%;
}

.img-precio{
    position: relative;
}

.img-precio img{
    width:100%;
}

.precio-producto{
    position: absolute;
    bottom: 3px;
    color: #FFF;
    background: linear-gradient(30deg, #7c0856 60%, transparent);
    width: 100%;
    padding: 5px 0px;
    padding-inline-start: 10%;
    font-size: 1.8em;
    font-weight: 400;
}

.precio-producto-res{
    display: none;
}

h3{
    margin-top: 15px;
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
}

.detalle-producto{
    text-align: center;
    margin-top: 8px;
}

@media (min-width: 768px){
    main{
        width: 90%;
        margin: auto;
        padding-top: 30px;
        background-color: #ededed;
        min-width: 768px;
    }

    .banner-img{
        width: 80vw;
    }

    .productos{
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        background-color: #FFF;
        border-radius: 10px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        justify-content: space-evenly;
    }

    h2{
        height: 1.5em;
        padding-top: 0.25em;
        border: none;
        
    }

    .libro{
        width: 30%;
        padding: 2% 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: max-content;
        justify-content: space-evenly;
        height: calc(100% - 37px);
    }
    
    .precio-producto{
        display: none;
    }

    .precio-producto-res{
        margin-top: 8px;
        display: block;
        flex-wrap: wrap;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
        color: #7c0856;
        width: 100%;
        align-self: flex-end;
    }

    h3{
        margin-top: 8px;
    }
}


@media (min-width: 1024px){
    main{
        max-width: 1184px;
        min-width: 1024px;
    }
    .libro{
        width: 22%;
        padding: 2% 2%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .libro:hover{
        box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.39);
    }

    
}
