header{
    display: flex;
    height: 250px;
    width: 100%;
    flex-direction: column;
    background: #7d11ca;
}

.navbar-superior{
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    opacity: 0.85;
}

.navbar-superior a{
    width: 30%;
    height: 100%;
}

.cen{
    text-align: center;
    outline:none;
}

.logotipo {
    width: 160px;
    height: 105px;
    margin-left: 25px,25px,35px,35px;
}


.logotipo:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}

.navbar-superior form{
    width: 30%;
}

form label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

label input{
    width: 80%;
    height: 40px;
    align-self: center;
}

label button{
    height: 47px;
    width: 41px;
    align-self: center;
    position: relative
}

.botones{
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.botones a{
    width: 20%;
    align-self: center;
    margin: 0px 20px;
    display: flex;
}

.botones a i{
    color: #ffff;
    align-self: center;
    font-size: 45px;
}

.navbar-inferior{
    height: 25%;
    box-shadow: 0px 0px 10px;
    display: flex;
}

.titulo-logo{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
    font-size: 40px;
    align-self: center;
    margin-top: 10px;
    font-family:'festive'
}


/*------MAIN------*/
.carrusel{
    width: 85%;
    height: 700px;
    margin: 50px auto;
    border: 1px solid black;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 100px auto;
    flex-direction: row;
    box-shadow: 0px 0px 10px;
}

.productos h2{
    width: 100%;
    text-align: center;
    height: 60px;
    position: relative;
    top: -20px;
    box-shadow: 0px 0px 10px;
}

.productos div{
    width: 20%;
    text-align: center;
    border: 1px solid black;
    margin: 15px 50px;
}

div img{
    width: 100%;
    height: 75%;
}

div h3{
    font-size: 2em;
}

div p{
    font-size: 1.5em;
}

/*------footer------*/
footer{
    background: #6800b3;
    height: 350px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 15px 0;
    box-shadow: 0px 0px 10px;
}

footer article{
    height: 75%;
    width: 30%;
    text-align: center;
}

article i{
    font-size: 55px;
}

.textos-footer{
    font-size: 30px;
    margin: 15px;
}

.copyright{
    height: 25%;
    width: 100%;
    border-top: 1px solid black;
    margin: 0px;
}

.textos{
    font-size: 30px;
    text-align: center;
}