footer{
    margin-top: 0px;
}


@media screen and (min-width: 726px){
    footer{
        background: #6800b3;
        padding: 5px 0;
        position: static;
        border-top: 1px solid black;
    }
    
    footer article{
        display: flex;
        flex-direction: column;
        width: 32%;
    }
    
    article i{
        font-size: 55px;
    }
    
    .textos-footer{
        font-size: 18px;
        margin-bottom: 5px;
    }

    .copyright{
        width: 100%;
        border-top: 2px solid black;    
    }
    
    .textos{
        font-size: 30px;
        text-align: center;
}   
}