/*-------main-----*/

body{
    width: 100%;
}

main{
    width: 100%;
    padding: 275px 5% 50px 5%;
    font-family: 'roboto';
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.description {
    position: relative;
}

.productDetailImg {
    width: 100%;
}

.productDetailImg img {
    margin-top: 20px;
    width: 100%;
}

.description .descriptionAutor {
    display: flex;
    width: 50%;
}

.description .descriptionEditorial {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
}

.description .descriptionAutor .autor {
    padding-left: 5px;
    color: #7d11ca;
    font-weight: bolder;
    text-decoration: none;
}

.description .descriptionEditorial .editorial {
    padding-left: 5px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.description .precio {
    color: rgb(3, 161, 3);
    font-weight: bold;
    font-size: 2em;
    margin-top: 15px;
}

.productDetailPurchase a {
    text-decoration: none;
}

.productDetailPurchase .btnComprar {
    width: 100%;
    background-color: #3C3D61;
    margin: 15px auto;
    font-size: 1.5em;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.btnComprar p{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.productDetailPurchase .btnAgregar {
    width: 100%;
    background-color: #9B9DCC;
    margin: 15px auto;
    font-size: 1.5em;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.btnAgregar p{
    width: 100%;
    text-align: center;
    color: #3C3D61;
    font-weight: bold;
}

.detalles h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.detalles h2 a {
    color : #3C3D61;
}



/*------------------MEDIA QUERIES: TABLET -----------------*/
@media screen and (min-width:768px){
    
    /*------MAIN------*/

    main {
        padding-top: 50px;
    }   

    h2 {
        font-size: xx-large;
    }
   
    .contDetail {
        display: flex;
        position: relative;
    }

    .productDetailImg{
        width: 40%;
    }

    .productDetailPurchase {
        position: absolute;
        width: 50%;
        right: 0px;
        margin-right: 5%;
        bottom: 0px;
        margin-bottom: 50px;
        
    }

    .description {
        width: 60%;
        padding-top: 20px;
        padding-left: 5%;
    }

    .description .descriptionAutor {
        width: 100%;
    }

    .description .descriptionEditorial {
        position: relative;
        margin-top: 20px;
    }

    .description p{
        font-size: 24px;
    }

    .description a{
        font-size: 24px;
    }
    
    .description .precio {
        margin-top: 30px;
        font-size: 42px;
    }
    
}

/*------------------MEDIA QUERIES: LAPTOP -----------------*/
@media screen and (min-width:1024px){
    body {
        background-color: #ededed;
    }

    main {
        width:70%;
        max-width: 1184px;
        min-width: 1024px;
        margin: 30px auto 50px;
        padding-top: 50px;
        background-color: white;
        border-radius: 10px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }

    main h2{
        font-size: 32px;
    }

    .contDetail {
        justify-content: space-around;
    }

    .description{
        width: 45%;
    }

    .description p{
        font-size: 20px;
    }

    .description a{
        font-size: 20px;
    }

    .description .precio {
        font-size: 32px;
    }

    .productDetailImg {
        width: 25%;
    }

    .productDetailPurchase {
        width: 30%;
        right: 12.5%;
    }

    .detalles p {
        font-size: 20px;
        padding: 0px 2% 0px 2%;
    }

}