.container-slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#contSlider{
    display: flex;
    box-sizing: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.imagen{
    display: block;
    height: fit-content;
    width: unset;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left{
 left: 10px;
}

.slider__btn--right{
    right: 10px;
}

