<div class="contenedor-footer">
<footer>
    <section class='footer-seccion-1'>
        <div class="contenedor-logo-footer">
            <img src="/images/sombrero-loco.png" alt="Logo" class="logotipo-solo">
        </div>

        <div class="contactanos">
            <h4>Contactanos</h4>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i><p class='p-footer'>sombrereroloco@gmail.com</p>
            </div>
            <div>
                <i class="fa fa-phone-square" aria-hidden="true"></i><p class='p-footer'>1123456789</p>
            </div>
        </div>
        <div class="redes-footer">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
    </section>
    <div class="linea-footer"></div>
    <section class='footer-seccion-2'>
            <div>
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
            </div>
            <div>
                <a href='/aboutUs' class="textos-footer"><i class="fa fa-users" aria-hidden="true"></i>Sobre nosotros</a>
            </div>
            <div>
                <a href="/questions"><i class="fa fa-question-circle" aria-hidden="true"></i>Preguntas frecuentes</a>
            </div>
            <div>
                <a href="/products"><i class="fa fa-book" aria-hidden="true"></i>Nuestros libros</a>
            </div>
    </section>
    <div class="linea-footer"></div>
    
    <section class='footer-seccion-3'>
        <div>
            <i class="fas fa-credit-card"><h6 class="textos-footer">Medios de pago</h6></i>
            <p class="textos-footer">
                Contamos con diferentes métodos de pago para que tu único problema sea elegir entre nuestra gran variada oferta literaria!  
            </p>
        </div>
        <div>
            <i class="fas fa-gift"><h6 class="textos-footer">Elegí regalar lectura!</h6></i>
            <p class="textos-footer">
                Regala distinto! Busca entre nuestras múltiples categorias ese libro ideal para la persona a la que quieras sorprender!
            </p>
        </div>
    </section>
    <article>
        <div>
            <iframe width="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=720&amp;height=300&amp;hl=es&amp;q=Avenida%20Santa%20Fe%201870,%20CABA+(El%20sombrerero%20loco)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car Navigation Systems</a></iframe>
        </div>
    </article>
    <div class="copyright">
            <p class="textos">Copyright © 2021 "El sombrero loco" / Grupo 7</P>
    </div>
</footer>
</div>